@font-face {
  font-family: "Janna";
  src: url("/static/fonts/Janna.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Garamond";
  src: url("/static/fonts/Garamond.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FuturaBkBt";
  src: url("/static/fonts/FuturaBkBt.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Madani";
  src: url("/static/fonts/madani.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lovtony";
  src: url("/static/fonts/Lovtony\ Script.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nexa";
  src: url("/static/fonts/Nexa\ Light.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "EuropaBold";
  src: url("/static/fonts/Europa.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font-janna {
  font-family: "Janna", sans-serif;
}

.font-garamond {
  font-family: "Garamond", serif;
}

.font-futurabkbt {
  font-family: "FuturaBkBt", sans-serif;
}

.font-madani {
  font-family: "Madani", sans-serif;
}

.font-lovtony {
  font-family: "Lovtony", sans-serif;
}

.font-nexa {
  font-family: "Nexa", sans-serif;
}

.font-europaBold {
  font-family: "EuropaBold", sans-serif;
}

.logo {
  font-family: "Lovtony", sans-serif;
  font-size: 50px;
  font-weight: bold;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.backdrop-blur-custom {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Safari */
}

.bg-custom-sidebar {
  background-color: #af937e;
}

.bg-custom-slidebar {
  background-color: #f5f3f0;
  transition: background-color 0.3s ease-in-out;
}

.bg-custom-folder {
  background-color: #eae5e3;
}

.bg-custom-content {
  background-color: #f1f1ef;
}

.bg-custom-color {
  background-color: #f5f3f0;
}

.bg-custom-color1 {
  background-color: #f6f3f0;
}

.bg-custom-color2 {
  background-color: #b7b4b1;
}

.bg-custom-color2:hover {
  background-color: #7b7a77;
}

.bg-custom-color3 {
  background-color: #7b7a77;
}

.bg-custom-color4 {
  background-color: #2b2b2b;
}

.bg-folder {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-grid {
  background: url("/static/img/grid.jpg") no-repeat center center;
  background-size: cover;
}

.tool-btn {
  background: #e2e8f0;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s;
}

.tool-btn:hover {
  background: #cbd5e1;
}

.popup {
  background: white;
  padding: 10px;
  border: 1px solid gray;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}
.hidden {
  display: none;
}
.input-field {
  margin: 5px;
  padding: 5px;
  border: 1px solid #ccc;
}
.popup-btn {
  background: #007bff;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.prose {
  font-family: "Garamond", serif;
}
.prose h1,
.prose h2 {
  font-family: "Madani", sans-serif;
}
.prose pre code,
.prose table {
  font-family: initial;
}

.cover-image {
  width: 100%;
  height: 150px; /* Adjust to desired height */
  background-image: url("/static/img/cover.png");
  background-size: cover;
  background-position: center;
  border-radius: 10px; /* Optional */
}

.note-title,
.note-subtitle {
  max-width: 450px;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; /* Prevent text from wrapping to the next line */
}

.note-subtitle {
  white-space: normal; /* Allow subtitle to wrap to the next line */
}
