<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <title>{{ title }}</title>
    <link
      href="/static/styles.css"
      rel="stylesheet"
    />
    <link
      href="/static/tailwind.min.css"
      rel="stylesheet"
    />
    <style>
      .prose, .prose p { font-family: "Garamond", serif !important; }
      .prose h1, .prose h2 { font-family: "Madani", sans-serif !important; }
    </style>
  </head>
  <body class="bg-custom-color text-gray-800">
    <div class="max-w-4xl mx-auto pt-24 items-center flex flex-col">
      <div class="flex flex-col mb-4 w-full">
        <!-- Title and Edit Icon Row -->
        <div class="flex justify-between items-center w-full">
          <!-- Title -->
          <div
            class="text-5xl font-rodenregular text-gradient inline-block text-transparent bg-clip-text leading-tight"
          >
            {{ title }}
          </div>

          <!-- Edit Icon -->
          <a
            href="{{ url_for('edit_note', note_id=note_id) }}"
            class="px-4 py-2 rounded "
          >
            <img
              src="/static/svg/edit.svg"
              alt="Edit"
              class="w-5 h-5"
            />
          </a>
        </div>

        <!-- Subtitle -->
        <div class="text-xl font-nexa text-gray-800 opacity-80">
          {{ subtitle }}
        </div>
      </div>

      <!-- Content -->
      <div class="prose max-w-none w-full">{{ content | safe }}</div>
    </div>
  </body>
</html>
